<%= form_for [@group, @task] do |f| %>
  <div class="field form-group">
      <%= f.label :title %>
      <%= f.text_field :title, autofocus: true, class: 'form-control' %>
  </div>

  <div class="field form-group">
      <%= f.label :description %>
      <%= f.text_area :description, autofocus: true, class: 'form-control' %>
  </div>

  <div class="field form-group">
      <%= f.label :deadline %>
      <%= f.datetime_select :deadline, autofocus: true, class: 'form-control' %>
  </div>


  <div class="field form-group">
    <%= f.label :user_id, 'Assigned to' %>
    <%= f.collection_select(:user_id, User.order(:email), :id, :email, { include_blank: true }, { class: 'form-control' }) %>
  </div>

  <div class="field form-group">
    <%= f.label :category_id, 'Category' %>
    <%= f.collection_select(:category_id, @group.categories.order(:id), :id, :title, { }, { class: 'form-control' }) %>
  </div>

  <div class="actions">
      <%= f.submit 'Save', class: 'btn btn-default' %>
  </div>
<% end %>

