<%= form_for @task do |f| %>
  

  <div class="field form-group">
      <%= f.label :title %><br />
      <%= f.text_field :title, autofocus: true, class: 'form-control' %>
  </div>

  <div class="field form-group">
      <%= f.label :description %><br />
      <%= f.text_area :description, autofocus: true %>
  </div>

  <div class="field form-group">
      <%= f.label :deadline %><br />
      <%= f.datetime_select :deadline, autofocus: true %>
  </div>


  <div class="field form-group">
    <%= f.label :user_id, 'Assigned to' %><br />
    <%= f.collection_select(:user_id, User.order(:email), :id, :email, include_blank: true) %>
  </div>

  <div class="actions">
      <%= f.submit 'Save' %>
  </div>
<% end %>
