<div class="panel panel-default task_card">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-10 col-sm-10 col-xs-8">
        <div class="task-title"><%= task.title %></strong></div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2">
        <span class="label label-default"><%= task.category.title %></span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12"><%= task.description %></div>
    </div>
    <div class="row">
      <div class="col-md-4">
          <strong>Due:</strong>
          <%= task.deadline.to_formatted_s(:long) %>
      </div>
      <div class="col-md-4">
          <% if task.user %>
            <strong>Volunteer:</strong>
            <%= task.user.email %>
          <% end %>
      </div>
      <div class="col-md-2">
        <% if task.user and task.incomplete? %>
          <%= form_for task, url: mark_complete_group_task_path(@group, task), method: 'put' do |f| %>
            <%= f.submit "Mark Complete", class: 'btn btn-xs btn-primary' %>
          <% end %>
        <% elsif user_signed_in? %>
          <%= form_for task, url: claim_group_task_path(@group, task), method: 'put' do |f| %>
            <%= f.submit "Sign Up", class: 'btn btn-xs btn-primary' %>
          <% end %>
        <% elsif task.user %>
          <%= task.status.titleize %>
        <% end %>
      </div>
      <% if current_user.is_owner?(@group) %>
        <div class="col-md-2 pull-right">
          <%= link_to 'Edit', edit_group_task_path(@group, task) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
