<%= link_to group_path(@group) do %>
  &#8592; Back to Group
<% end %>

<h1><%= @group.title %></h1>


<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#mytasks" aria-controls="mytasks" role="tab" data-toggle="tab">My Assignments</a></li>
  <li role="presentation"><a href="#needs" aria-controls="needs" role="tab" data-toggle="tab">Community Needs</a></li>
  <% if current_user.is_owner?(@group) %>
    <li role="presentation"><a href="#incomplete" aria-controls="incomplete" role="tab" data-toggle="tab">Incomplete Tasks</a></li>
    <li role="presentation"><a href="#create" aria-controls="create" role="tab" data-toggle="tab">Create a Task</a></li>
  <% end %>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="mytasks">
    <% if user_signed_in? %>
      <h2 class="task-section">My Assignments</h2>
      <p class="white">Check out the community needs tab for volunteer opportunities.</p>
      <% @group.tasks.incomplete.where(user: current_user).each do |task| %>
        <%= render 'task_card', task: task %>
      <% end %>
    <% end %>
  </div>

  <div role="tabpanel" class="tab-pane" id="needs">
    <h2 class="task-section">Community Needs</h2>
    <% if @tasks.each do |task| %>
      <%= render 'task_card', task: task %>
    <% end.empty? %>
      There aren't any needs right now. Thanks for checking!
    <% end %>
  </div>

  <div role="tabpanel" class="tab-pane" id="incomplete">
    <% if current_user.is_owner?(@group) %>
      <h2 class="task-section">Incomplete Tasks</h2>
      <p class="white">Tasks claimed by members but not yet complete.</p>
      <% @group.tasks.incomplete.each do |task| %>
        <%= render 'task_card', task: task %>
      <% end %>
    <% end %>
  </div>

  <div role="tabpanel" class="tab-pane" id="create">
    <% if current_user.is_owner?(@group) %>
      <h2 class="task-section">Create new task</h2>

      <% if @task.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
          <h3 class="white"><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h3>
          <ul>
            <% @task.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form_for [@group, @task] do |f| %>
        <div class="field form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control' %>
        </div>

        <div class="field form-group">
            <%= f.label :description %>
            <%= f.text_area :description, class: 'form-control' %>
        </div>

        <div class="field form-group">
            <%= f.label :deadline %><br />
            <%= f.datetime_select :deadline, class: 'form-control' %>
        </div>

        <div class="field form-group">
          <%= f.label :user_id, 'Assigned to' %>
          <%= f.collection_select(:user_id, User.order(:email), :id, :email, { include_blank: true }, { class: 'form-control' }) %>
        </div>

        <div class="field form-group">
          <%= f.label :category_id, 'Category' %>
          <%= f.collection_select(:category_id, @group.categories.order(:id), :id, :title, { }, { class: 'form-control' }) %>
        </div>

        <div class="actions">
            <%= f.submit 'Save', class: 'btn btn-primary' %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>





