<h1>Tasks</h1>

<table class="table table-hover table-striped">
  <tr>
    <th>Title</th>
    <th>Deadline</th>
    <th>Assigned to</th>
    <th>Status</th>
    <th></th>
  </tr>
  <% @tasks.each do |task| %>
    <tr style="text-align: left;">
      <td>
        <strong><%= task.title %></strong><br />
        <%= task.description %>
      </td>
      <td><%= task.deadline.to_formatted_s(:long) %></td>
      <td><% if task.user %><%= task.user.email %><% end %></td>
      <td></td>
      <td><%= link_to 'Edit', edit_task_path(task) %></td>
    </tr>
  <% end %>
</table>

<h3>Create new task</h3>

<% if @task.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <h3><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h3>
    <ul>
      <% @venue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @task do |f| %>
  <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title, autofocus: true %>
  </div>

  <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description, autofocus: true %>
  </div>

  <div class="field">
      <%= f.label :deadline %><br />
      <%= f.datetime_select :deadline, autofocus: true %>
  </div>


  <div class="field">
    <%= f.label :user_id, 'Assigned to' %><br />
    <%= f.collection_select(:user_id, User.order(:email), :id, :email, include_blank: true) %>
  </div>

  <div class="actions">
      <%= f.submit 'Save' %>
  </div>
<% end %>

