<% if user_signed_in? %>
  <%= link_to groups_path do %>
    &#8592; Back to Groups
  <% end %>
<% end %>

<h1><%= @group.title %></h1>

<div class="row">
  <div class="col-md-8 col-sm-10 col-xs-10">
    <p class="lead">
      <%= @group.tagline %>
    </p>
  </div>
  <div class="col-md-4 col-sm-2 col-xs-2">
    <% if user_signed_in? and current_user.is_owner?(@group) %>
      <div class="pull-right">
        <%= link_to 'Edit', edit_group_path(@group) %>
      </div>
    <% end %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-9">
        <p>
          <% if @group.address %>
            <%= @group.address %>
          <% end %><br />
          <% if @group.website_url %>
            <%= link_to @group.website_url do %>
              website
            <% end %>
          <% end %>
        </p>
        <div>
          <p><%= @group.description %></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class='pull-right'><%= image_tag @group.profile_pic.url(:medium) %></div>
      </div>
    </div>
  </div>
</div>


<% if current_user and current_user.groups.include? @group %>
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Community Needs</h3>
          <%= link_to 'All Needs', group_tasks_path(@group) %>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3><%= @group.memberships.count %> Members</h3>
          <%= link_to 'All Members', group_memberships_path(@group) %>
          <ul class="list-unstyled">
            <% @group.memberships.each do |member| %>
              <li><%= member.user.email %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <% if @group.facebook_page_url %>
    <div>
      <%= link_to @group.facebook_page_url do %>
        Facebook
      <% end %>
    </div>
  <% end %>
<% end %>

