<% if user_signed_in? %>
  <%= link_to groups_path do %>
    &#8592; Back to Groups
  <% end %>
<% end %>

<h1><%= @group.title %></h1>

<div class="row">
  <div class="col-md-8 col-sm-10 col-xs-10">
    <p class="lead">
      <%= @group.tagline %>
    </p>
  </div>
  <div class="col-md-4 col-sm-2 col-xs-2">
    <% if user_signed_in? and current_user.is_owner?(@group) %>
      <div class="pull-right">
        <%= link_to 'Edit', edit_group_path(@group) %>
      </div>
    <% end %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-9">
        <p>
          <% if @group.address %>
            <%= @group.address %>
          <% end %><br />
          <% if @group.website_url %>
            <%= link_to @group.website_url do %>
              website
            <% end %>
          <% end %>
        </p>
        <div>
          <p><%= @group.description %></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class='pull-right'><%= image_tag @group.profile_pic.url(:medium) %></div>
      </div>
    </div>
  </div>
</div>


<% if current_user and current_user.groups.include? @group %>
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>
            My Assignments
            <small class="section-link"><%= link_to 'View All', group_tasks_path(@group) %></small>
          </h3>
          <% if @group.tasks.incomplete.where(user: current_user).each do |task| %>
            <%= render 'tasks/task_card', task: task %>
          <% end.empty? %>
            Check out the community needs below!
          <% end %>
          <h3>Community Needs</h3>
          <% @group.tasks.incomplete.unassigned.each do |task| %>
            <%= render 'tasks/task_card', task: task %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>
            Upcoming Events
            <small class="section-link"><a href="#">View All</a></small>
          </h3>
          <ul class="list-unstyled">
            <li style="margin-bottom:20px;">
              <div class="row">
                <div class="col-sm-4">
                  <strong>AUG 3</strong><br>
                  5:00 pm
                </div>
                <div class="col-sm-6">
                  <strong>Women's Study Group</strong><br>
                  @ Lisa's House
                </div>
              </div>
            </li>
            <li style="margin-bottom:20px;">
              <div class="row">
                <div class="col-sm-4">
                  <strong>AUG 10</strong><br>
                  7:00 pm
                </div>
                <div class="col-sm-6">
                  <strong>Meditation Meeting</strong><br>
                  @ Community Center
                </div>
              </div>
            </li>
            <li style="margin-bottom:20px;">
              <div class="row">
                <div class="col-sm-4">
                  <strong>AUG 13</strong><br>
                  9:00 am
                </div>
                <div class="col-sm-6">
                  <strong>Food Bank Service Day</strong><br>
                  @ Atlanta Food Bank
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>
            <%= @group.memberships.count %> Members
            <small class="section-link"><%= link_to 'View All', group_memberships_path(@group) %></small>
          </h3>
          <p>Most recently active</p>
          <ul class="list-unstyled">
            <% @recently_active_members.each do |member| %>
             <li>
               <div class="row">
                 <div class="col-sm-6">
                   <%= member.email %>
                 </div>
                 <div class="col-sm-6">
                   <small><%= time_ago_in_words(member.last_sign_in_at) %> ago</small>
                </div>
               </div>
             </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <% if @group.facebook_page_url %>
    <div>
      <%= link_to @group.facebook_page_url do %>
        Facebook
      <% end %>
    </div>
  <% end %>
<% end %>

