<% if user_signed_in? %>
  <%= link_to groups_path do %>
    &#8592; Back to Groups
  <% end %>
<% end %>

<div>
  <h1><%= @group.title %></h1>
  <div class='pull-right'><%= image_tag @group.profile_pic.url(:thumb) %></div>
</div>

<h4><%= @group.tagline %></h4>
<p><%= @group.description %></p>


<% if @group.address %>
    <div>
        <%= @group.address %>
    </div>
<% end %>

<% if @group.website_url %>
  <div>
    <%= link_to @group.website_url do %>
      website
    <% end %>
  </div>
<% end %>

<% if @group.facebook_page_url %>
  <div>
    <%= link_to @group.facebook_page_url do %>
      Facebook
    <% end %>
  </div>
<% end %>

<% if current_user and current_user.groups.include? @group %>
  <h3>Community Needs</h3>
  <%= link_to 'All Needs', group_tasks_path(@group) %>
<% end %>


<h3><%= @group.memberships.count %> Members</h3>
<% if current_user and current_user.groups.include? @group %>
  <%= link_to 'All Members', group_memberships_path(@group) %>
  <ul class="list-unstyled">
    <% @group.memberships.each do |member| %>
      <li><%= member.user.email %></li>
    <% end %>
  </ul>
<% end %>

