<div class="jumbotron">
  <div class="container">
    <h1>FaithBulletin</h1>
    <p class="lead">Get organized. Be efficient. Be impactful.</p>
  </div>
</div>


<h3>Groups In Your Area</h3>
<%= form_tag(root_path, method: "get", class: 'search-form') do %>
  <div class="row">
    <div class="col-md-1">
      <label for="q">Search</label>
    </div>
    <div class="col-md-9">
      <input type="text" class="form-control" id="q" name="q" value="<%= @q %>">
    </div>
    <div class="col-md-1">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
    <div class="col-md-1">
      <%= link_to 'Show all', root_path, class: 'clear-search' %>
    </div>
  </div>
<% end %>

<% @groups.each do |group| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-2">
          <%= image_tag group.profile_pic.url(:thumb) %>
        </div>
        <div class="col-md-6">
          <h2><%= link_to group.title, group_path(group) %></h2>
          <p class="lead"><%= group.tagline %></p>
        </div>
        <div class="col-md-4">
          <p class="group-address">
            <%= group.address %>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
          <%= group.description %>
        </div>
      </div>
    </div>
  </div>
<% end %>
